body{
	list-style: none;
}
.all{
	margin-left: 100px;
}
.both{
	margin-left: 310px;
	margin-top: -31px;
	font-family: Microsoft Yahei;
}
div.more a:link{
	color: #F3F3F3;
	text-decoration: none;
}
div.more a:hover{
	width: 100px;
	height: 80px;
	padding:5px 10px 5px 10px;/*用onmouseover使之固定不动*/
	background-color: #F3F3F3;
	text-decoration: none;
	border-style: 5px solid #F3F3F3;
}
.both input{
	/*margin-left: 680px;
	margin-top: 0px;*/
	position: absolute;
	left: 780px;
	top: 15px;
	height: 31px;
	width: 205px;
	background-color: #F3F3F3;
	border-color: #F3F3F3;
	border-width: 1px;
	border-radius: 2px;
	border: none;
	font-family: Microsoft Yahei;
}
.both ul{
	margin-left: 666px;
	margin-top: -23px
}
.every{
	position: absolute;
	margin-left: 427px;
	margin-top: -26px;
	z-index: 1;
}
.DIV2 li{
	visibility: hidden;
	list-style: none;
}
.DIV1:hover{
	width: 20px;
	height: 20px;
	background-color: #F3F3F3;
	text-decoration: none;
	border-style: 5px solid #F3F3F3;
}
.tupian3 li{
	visibility: hidden;
	list-style: none;
}
.daohang:hover{
	width: 20px;
	height: 20px;
	background-color: #F3F3F3;
	text-decoration: none;
	border-style: 5px solid #F3F3F3;
}
div.tupian3:hover li{ /*点击时和未点击时背景颜色不同*/
	visibility:visible;
	font-size: 13px;
	background-color: white;
	background-color: #F3F3F3;
	width: 80px;
}
.DIV1{
	width: 20px;
	height: 20px;
	margin-top: 6px
}
.tupian1 img{
	width: 20px;
	height: 20px;
}
.tupian1:hover{
    width: 20px;
	height: 20px;
	background-color: #F3F3F3;
	text-decoration: none;
	border-style: 5px solid #F3F3F3;
}
.tupian2 img{
	width: 20px;
	height: 20px;
}
.tupian2:hover{
    width: 20px;
	height: 20px;
	background-color: #F3F3F3;
	text-decoration: none;
	border-style: 5px solid #F3F3F3;
}
.DIV2:hover li{ /*点击时和未点击时背景颜色不同*/
	visibility:visible;
	background-color: #F3F3F3;
	width: 55px;
}
.DIV3{
	border-bottom:  1px solid gray;
}
.tupian1{
	margin-left: 765px;
	margin-top: -146px
}
.tupian2{
	margin-left: 821px;
	margin-top: -24px;
}
.tupian3{
	margin-left: 870px;
	margin-top: -33px;
	width: 20px;
	height: 20px;
}
.tiao{
	margin-top: 26px;
	font-family: Microsoft Yahei;
	font-color: gray;
	font-size: 14px;
	background-color: #005F3C;
	width: 1340px;
	height: 35px;
}
.tiao img{
	vertical-align: middle;
}
div.tiao a:link{
	color: black;
    text-decoration: none;
}
div.tiao a:hover{
	text-decoration: underline;
}
.home{
	font-color: black;
	margin-left: 95px;
	padding: 6px;
}
.feed{
	margin-left: 170px;
	margin-top: -27px;
}
.shu{
	margin-left: 247px;
	margin-top: -24px;
}
.html{
	margin-left: 265px;
	margin-top:-16px;
}
.git{
    margin-left: 319px;
    margin-top: -19px;
}
.iOS{
	margin-left: 355px;
	margin-top: -18px;
}
.java{
	margin-left: 394px;
	margin-top: -20px;
}
.mysql{
	margin-left: 440px;
	margin-top: -19px;
}
.php{
    margin-left: 500px;
    margin-top: -19px;
}
.javascript{
	margin-left: 548px;
	margin-top: -19px;
}
.c{
	margin-left: 630px;
	margin-top: -19px;
}
.linux{
	margin-left: 660px;
	margin-top: -19px;
}
.css3{
	margin-left: 712px;
	margin-top: -19px;
}
.cc{
	margin-left: 762px;
	margin-top: -19px;
}
.node{
	margin-left: 813px;
	margin-top: -19px;
}
.python{
	margin-left: 878px;
	margin-top: -19px;
}
.dian{
	font-size: 30px;
	margin-left: 1190px;
	margin-top: -38px;
}
.zuipai{
	margin-top: 45px;
	margin-left: 100px;
}
.super{
	font-family: Microsoft Yahei;
	font-size: 14px;
	/*font-color:black;*/
	/*width: 200px;
	height: 20px;*/
}
.active{
	padding-left: 138px;
	margin-top: -19px;
}
.answer{
	padding-left: 278px;
	margin-top: -19px;
}
div.zui a:link{
	text-decoration: none;
}
div.zui a:hover{
	text-decoration: underline;
	width: 30px;
	height: 20px;
	border-bottom-color: green;
}
.zui{                               /*设置下边框*/
	border-bottom-color:#DDDDDD;
	border-color: white;
	width: 810px;
	height: 35px;
	border-bottom-style: ridge;
	border-size: 100px;
	margin-left: 0px;
	margin-top: -14px;
}
.big{
	font-family: Microsoft Yahei;
	margin-left: 4px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.middle1{
	width: 880px;
	height: 55px;
	border-style-bottom:ridge;
	border-color:  #4C4C4C;
	margin-top: 25px;
	margin-left: 20px;
}
.zero{
	padding-left: 12px;
}
.vote{
	margin-left: -15px;
	color: #666666;
}
.unswer{
	margin-left: 43px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero1{
	padding-left: 5px;
}
.shang1{
	width: 642px;
	height: 6px;
	padding-left: 85px;
	margin-top: -65px;
	font-family: Microsoft Yahei;
    
}
div.shang1 a:link{
	text-decoration: none;
}
div.shang1 a:hover{
	text-decoration: underline;
}
.small{
	color: #C1C1C1;
	margin-left: -10px;
}
.small2{
	color: #C1C1C1;
	margin-left: 13px;
}
.ask1{
	font-size: 15.2px;
	color: #666666;
}
.ask2{
	margin-top: -10px;
	margin-left: 28px;
}
.ja{
	padding-left: 260px;
	margin-top: -40px;
}
.ja input{
	width: 60px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle2{
	font-family: Microsoft Yahei;
	margin-left: -20px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero2{
	padding-left: 10px;
}
.vote2{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer2{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan2{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.css2{
	padding-left: 280px;
	margin-top: -40px;
}
.css2 input{
	width: 20px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.h2{
	padding-left: 315px;
	margin-top: -20px;
}
.h2 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.ja2{
	padding-left: 360px;
	margin-top: -20px;
}
.ja2 input{
	width: 60px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle3{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero3{
	padding-left: 10px;
}
.vote3{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer3{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan3{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero33{
	padding-left: 1px;
}
.web3{
	padding-left: 230px;
	margin-top: -40px;
}
.web3 input{
	width: 55px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.node3{
	padding-left: 305px;
	margin-top: -20px;
}
.node3 input{
	width: 45px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle4{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero4{
	padding-left: 10px;
}
.vote4{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer4{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan4{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.php4{
	padding-left: 180px;
	margin-top: -40px;
}
.php4 input{
	width: 25px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.jason4{
	padding-left: 220px;
	margin-top: -20px;
}
.jason4 input{
	width: 38px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.ajax4{
	padding-left: 275px;
	margin-top: -20px;
}
.ajax4 input{
	width: 38px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle5{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero5{
	padding-left: 10px;
}
.vote5{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer5{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan5{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero5{
	padding-left: 1px;
}
.py5{
	padding-left: 200px;
	margin-top: -40px;
}
.py5 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle6{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero6{
	padding-left: 3px;
}
.vote6{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer6{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan6{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero5{
	padding-left: 1px;
}
.vue6{
	padding-left: 230px;
	margin-top: -40px;
}
.vue6 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.vuej6{
	padding-left: 280px;
	margin-top: -20px;
}
.vuej6 input{
	width: 45px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle7{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero7{
	padding-left: 3px;
}
.vote7{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer7{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan7{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero7{
	padding-left: 4px;
}
.node7{
	padding-left: 290px;
	margin-top: -40px;
}
.node7 input{
	width: 43px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.php7{
	padding-left: 350px;
	margin-top: -20px;
}
.php7 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle8{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero8{
	padding-left: 3px;
}
.vote8{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer8{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan8{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero8{
	padding-left: 4px;
}
.vue8{
	padding-left: 270px;
	margin-top: -40px;
}
.vue8 input{
	width: 35px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.ja8{
	padding-left: 320px;
	margin-top: -20px;
} 
.ja8 input{
	width: 60px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle9{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero9{
	padding-left: 3px;
}
.vote9{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer9{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan9{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero9{
	padding-left: 1px;
}
.sc9{
	padding-left: 200px;
	margin-top: -40px;
}
.sc9 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.web9{
	padding-left: 245px;
	margin-top: -20px;
}
.web9 input{
	width: 60px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle10{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero10{
	padding-left: 3px;
}
.vote10{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer10{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan10{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero10{
	padding-left: 3px;
}
.java10{
	padding-left: 350px;
	margin-top: -40px;
}
.java10 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.c10{
	padding-left: 395px;
	margin-top: -20px;
}
.c10 input{
	width: 15px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.cc10{
	padding-left: 425px;
	margin-top: -20px;
}
.cc10 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle11{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero11{
	padding-left: 15px;
}
.vote11{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer11{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan11{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero11{
	padding-left: 1px;
}
.java11{
	padding-left: 440px;
	margin-top: -40px;
}
.java11 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle12{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero12{
	padding-left: 6px;
}
.vote12{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer12{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan12{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero12{
	padding-left: 1px;
}
.ele12{
	padding-left: 290px;
	margin-top: -40px;
}
.ele12 input{
	width: 70px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle13{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero13{
	padding-left: 6px;
}
.vote13{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer13{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan13{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero13{
	padding-left: 1px;
}
.antd13{
	padding-left: 220px;
	margin-top: -40px;
}
.antd13 input{
	width: 25px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle14{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero14{
	padding-left: 3px;
}
.vote14{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer14{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan14{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero14{
	padding-left: 1px;
}
.mar14{
	padding-left: 300px;
	margin-top: -40px;
}
.mar14 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.cs14{
	padding-left: 355px;
	margin-top: -20px;
}
.cs14 input{
	width: 25px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle15{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero15{
	padding-left: 6px;
}
.vote15{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer15{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan15{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero15{
	padding-left: 4px;
}
.css15{
	padding-left: 200px;
	margin-top: -40px;
}
.css15 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle16{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero16{
	padding-left: 15px;
}
.vote16{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer16{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan16{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero16{
	padding-left: 5px;
}
.zi16{
	padding-left: 280px;
	margin-top: -40px;
}
.zi16 input{
	width: 25px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.ios16{
	padding-left: 320px;
	margin-top: -20px;
}
.ios16 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle17{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero17{
	padding-left: 15px;
}
.vote17{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer17{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan17{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.zero17{
	padding-left: 5px;
}
.node17{
	padding-left: 190px;
	margin-top: -40px;
}
.node17 input{
	width: 45px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.ja17{
	padding-left: 250px;
	margin-top: -20px;
}
.ja17 input{
	width: 65px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.vue17{
	padding-left: 330px;
	margin-top: -20px;
}
.vue17 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle18{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero18{
	padding-left: -5px;
}
.vote18{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer18{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan18{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.ja18{
	padding-left: 120px;
	margin-top: -40px;
}
.ja18 input{
	width: 60px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle19{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero19{
	padding-left: 5px;
}
.vote19{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer19{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan19{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.jquery19{
	padding-left: 150px;
	margin-top: -40px;
}
.jquery19 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle20{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero20{
	padding-left: 5px;
}
.vote20{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer20{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan20{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.dj20{
	padding-left: 200px;
	margin-top: -40px;
}
.dj20 input{
	width: 35px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.vue20{
	padding-left: 250px;
	margin-top: -20px;
}
.vue20 input{
	width: 45px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle21{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero21{
	padding-left: 5px;
}
.vote21{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer21{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan21{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.maco21{
	padding-left: 255px;
	margin-top: -40px;
}
.maco21 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.nginx21{
	padding-left: 310px;
	margin-top: -20px;
}
.nginx21 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle22{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero22{
	padding-left: 5px;
}
.vote22{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer22{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #808B87;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan22{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.fla22{
	padding-left: 490px;
	margin-top: -40px;
}
.fla22 input{
	width: 30px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.pyt22{
	padding-left: 535px;
	margin-top: -20px;
}
.pyt22 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle23{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero23{
	padding-left: 5px;
}
.vote23{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer23{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan23{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.mong23{
	padding-left: 150px;
	margin-top: -40px;
}
.mong23 input{
	width: 60px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle24{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero24{
	padding-left: 5px;
}
.vote24{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer24{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan24{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.java24{
	padding-left: 180px;
	margin-top: -40px;
}
.java24 input{
	width: 25px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle25{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero25{
	padding-left: 5px;
}
.vote25{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer25{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #009A61;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan25{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.php25{
	padding-left: 250px;
	margin-top: -40px;
}
.php25 input{
	width: 20px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.mys25{
	padding-left: 285px;
	margin-top: -20px;
}
.mys25 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle26{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero26{
	padding-left: 2px;
}
.vote26{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer26{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan26{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.wei26{
	padding-left: 430px;
	margin-top: -40px;
}
.wei26 input{
	width: 55px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.weij26{
	padding-left: 300px;
	margin-top: -20px;
}
.weij26 input{
	width: 55px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.vue26{
	padding-left: 375px;
	margin-top: -20px;
}
.vue26 input{
	width: 40px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.middle27{
	font-family: Microsoft Yahei;
	margin-left: 0px;
	font-size: 13px;
    border-bottom-style: ridge;
    width: 800px;
    height: 58px;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}
.zero27{
	padding-left: 2px;
}
.vote27{
    margin-left: 5px;
    margin-top: 30px;
	color: #666666;
}
.unswer27{
	margin-left: 63px;
	margin-top: -38px;
	width: 42px;
	height: 42px;
	background-color: #AD3A37;
	color: white;
	padding-left: 6px;
	padding-top: 4px;
}
.liulan27{
	color:#C1C1C1;
	margin-left: 64px;
	margin-top: -35px;
	width: 42px;
	height: 45px;
}
.jsp27{
	padding-left: 180px;
	margin-top: -40px;
}
.jsp27 input{
	width: 20px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.ja27{
	padding-left: 270px;
	margin-top: -20px;
}
.ja27 input{
	width: 60px;
	height: 10px;
	padding: 5px;
	background-color: #EBF5F3;
	color:#009A61;
	border:none;
}
.xinshou{
	margin-left: 850px;
	margin-top: -1920px;
}
.tiwen{
	color: #8A6D3B;
	font-size: 14px;
	background-color: #FCF8E3;
	margin-left: 852px;
	margin-top: 10px;
	width: 260px;
	height: 150px;
}
.tw{
	list-style: none;
}
.bianti{
	padding-top: 20px;
	margin-left: -15px;
}
.button{
	margin-left: -20px;
	padding-top: 10px;
}
.button input{
	background-color: #009A61;
	font-size: 13.5px;
	color: white;
	width: 220px;
	height: 36px;
	border-radius: 3px;
	border:none;
}
.xinxian{
    vertical-align: middle;
    margin-left: -20px;
    width: 225px;
}
.xinxian a:link{
	text-decoration: none;
}
.xinxian a:hover{
	text-decoration: underline;
	color: #009A61;
}
.my{
	margin-left: 890px;
	margin-top: 20px;
	width: 250px;
	height: 250px;
	font-size: 14px;
}
.mine{
	list-style: none;
}
.mine a:link{
	text-decoration: none;
	
}
.mine a:hover{
	color: #009A61;
}
.caogao{
	margin-left: -65px;
	margin-top: 16px;
}
.biji{
	margin-left: 50px;
	margin-top: -18px;
}
.xiazai{
	margin-left: 855px;
	margin-top: -100px;
}
.toutiao{
	margin-left: 850px;
	margin-top: 30px;
	
}
/*.zanhepinglun{
width:260px;
	height: 300px;
	border-style: ridge;;
	border-color:#F0F5F3; 
	border-width: 3px;
}*/
div.toutiao a:link{
	text-decoration: none;
}
div.toutiao a:hover{
	text-decoration: underline;
}
.zuixintoutiao{
	width: 250px;
	height: 40px;
	color: #009A61;
	background-color: #F0F5F3;
	border-color: #DDDDDD;
}
.zuixintoutiao h5{
	font-size: 15px;
	padding-left: 85px;
	padding-top: 10px;
}
.zanhepinglun{
	margin-left: 10px;
	margin-top: 20px;
	border-color: #F0F5F3;
	border-width: 2px;
	width: 250px;
	height: 300px;
}

.zan1{
	color: #F5A623;
	padding-top: 8px;
}
.shu2{
	padding-left: 32px;
    margin-top: -18px;
    color: #E3DDE3;
}
/*.xiaotiao{
	margin-top: 10px;
}*/
.pinglun{
	padding-left: 50px;
	margin-top: -16px;
	color: #C1C1C1;
}
.gengduo{
	margin-top: 10px;
}
.gd{
	color: #009A61;
}
.touhang{
	color: #009A61;
	font-size: 13px;
}
.phb{
	margin-left: 840px;
	margin-top: -10px;
	width: 250px;
	height: 550px;
	border-top-style: ridge;
	border-bottom-style: ridge;
	border-bottom-color: #DDDDDD;
	border-top-color: #DDDDDD;
	border-width: 1.5px;
}
div.phb a:link{
	text-decoration:none;
}
.paihangbang{
	width: 50px;
	height: 10px;
	font-size: 16.5px;
	margin-top: 30px;
}
.jt{
	margin-left: 120px;
	margin-top: -7px;
}
.fenshu{
	margin-left: 200px;
	padding-top: -10px;
}
.bz{
	margin-left: 156px;
	margin-top: -19px;
}
.gengduo1{
	margin-left: 190px;
	margin-top: -19px;
}
.phb img{
	vertical-align: middle;
}
.bangdan{
	margin-left: -30px;
	margin-top: 10px;
}
.rmscj{
	margin-left: 850px;
	margin-top: 20px;
}
div.rmscj a:link{
	text-decoration: none;
}
div.rmscj a:hover{
	text-decoration: underline;
}
.shoucangjia{
	width: 100px;
	height: 5px;
	font-size: 16px;
}
.huanyizu{
	padding-left: 180px;
	margin-top: -3px;
	width: 100px;
	height: 5px;
}
.di1{
	padding-top: 35px;
	width: 200px;
	height: 10px;
	color: #c1c1c1;
}
.vue{
	margin-left: 45px;
	margin-top: -40px;
}
.tiaomu{
	margin-left: 40px;
	margin-top: 4px;
}
.shu6{
	margin-left:115px;
	margin-top: -18px;
	color: #DDDDDD;
}
.renshuguanzhu{
	margin-left: 135px;
	margin-top: -17px;
}
.four{
	margin-left:40px;
	font-family: Microsoft Yahei;
	color: black;
	font-size: 5px;
    margin-top: 780px;
}
.fourone{
	float:left;
	}
.fourtwo{
	margin-left: 180px;
}
.fourthree{
	margin-left: 360px;
	margin-top: -210px;
}
.fourfour{
	margin-left: 600px;
	margin-top: -337px;
}
.fourfive{
	width: 300px;
    margin-left: 777px;
    margin-top: -273px;
}
div.four a:link{/*未访问的链接：灰色、无下划线 */
	color: gray;
	text-decoration:none;
}
div.four a:visited{/*已访问*/
	color: gray;
	text-decoration:underline;
}
div.four a:hover{/*鼠标放上去*/
	color: gray;
	text-decoration: underline;
}
.foursix{
	color: gray;
	margin-left: 380px;
	margin-top: 240px;
}